@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'InterTight';
        font-style: normal;
        font-display: swap;
        src: url('$lib/fonts/InterTight.ttf') format('truetype');
    }
}